@model noarlungaunited.com.au.Models.ContactModel
@{
    <div class="col-xs-12 col-sm-5 recentpost" id="ContactForm">
        <h2>
            <i class="fa fa-comments"></i> Get In Touch
        </h2>

        @if (TempData.ContainsKey("contactSuccess"))
            {
            var successMessage = (string)TempData["contactSuccess"];
            <div role="alert" class="alert alert-success alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>@Html.Raw(successMessage)</p>
            </div>
            }
        else
            {
            using (Html.BeginUmbracoForm("FooterContactSubmit", "ContactSurface", FormMethod.Post, new { role = "form", id = "contactForm", name = "contactForm", @class = "form-horizontal contactform" }))
                {
                if (TempData.ContainsKey("contactError"))
                    {
                    var errorMessage = (string)TempData["contactError"];
                    <div role="alert" class="alert alert-danger alert-dismissible fade in">
                        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>@Html.Raw(errorMessage)</p>
                    </div>
                    }

                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", required = "", placeholder = "Your Email Address" })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "help-block text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control required", required = "", placeholder = "Your Full Name" })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "help-block text-danger" })
                        </div>

                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", required = "", placeholder = "Your Phone Number" })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "help-block text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", required = "", placeholder = "Your Message" })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "help-block text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="g-recaptcha pull-right" data-sitekey="6LcyeBoTAAAAAPi6kdB6lvThktKHUuXovzOX39Vo"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                        </div>
                    </div>

                }
            }

    </div>
}
