<!DOCTYPE html>
<html lang="en">
<head>

    @Html.Partial("Master/HeaderContent")

    <link rel="icon" type="image/png" href="/favicon.ico" />

    @Styles.Render("~/bundles/sitecss")

    @RenderSection("headerCss", false)

    @Scripts.Render("~/bundles/sitescripts")

    <!--[if lt IE 9]>
        <script src="/Scripts/html5shiv.min.js"></script>
        <script src="/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    @Html.Partial("Master/MainNavigation")

    @RenderSection("pageSlider", false)

    @Html.Partial("Master/AccreditationsList")

<div class="container">
        @RenderBody()

    </div>

    @Html.Partial("Master/FooterSponsors")

    @Html.Partial("Master/FooterContent")

    @RenderSection("footerScripts", false)

<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-72708866-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>