@using System.Globalization
@using EventCalendarBelle
@inherits UmbracoTemplatePage
@section headerCss{
    <link href="/Css/EventCalendar/fullcalendar.css" rel="stylesheet">
    <link href="/Css/jquery.qtip.min.css" rel="stylesheet">
}

@{
    Layout = "SiteMaster.cshtml";
    <div class="container">

        @Html.Partial("Master/BreadCrumbs")

        @Html.Partial("Master/PageHeading")

        <div class="row mt20">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mt40column">
                @if (Model.Content.HasProperty("headingImage") && Model.Content.HasValue("headingImage"))
                        {
                        var umbracoImage = Umbraco.TypedMedia(Model.Content.GetPropertyValue<Int32>("headingImage"));
                        if (umbracoImage != null && umbracoImage.Id > 0)
                            {
                            var imageSrc = !string.IsNullOrEmpty(umbracoImage.GetCropUrl("pageHeading")) ? umbracoImage.GetCropUrl("pageHeading") : umbracoImage.GetCropUrl(1000, 300);
                            <div class="mb20">
                                <img alt="@Model.Content.Name" src="@imageSrc">
                            </div>
                            }
                        }

                    @if (Model.Content.HasProperty("bodyText") && Model.Content.HasValue("bodyText"))
                        {
                        <div class="headingsubtitle">
                            @Html.Raw(Model.Content.GetPropertyValue("bodyText"))
                        </div>
                        }

                @Html.Partial("Team/MembersList")

            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt40column">
                @Html.Partial("Master/SideNavigation")
            </div>
        </div>

        <div class="row mt20 doubleBorderTop doubleBorderBottom">
            
    @if (Model.Content.HasProperty("teamCalendar") && Model.Content.HasValue("teamCalendar"))
        {
        var homePage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "HomePage");
        var callId = int.Parse(Model.Content.GetPropertyValue<string>("teamCalendar"));

        var teamCalendar = EventCalendarHelper.GetCalendar(callId);
        if (teamCalendar != null && teamCalendar.Id > 0)
            {
            var eventDetailsPage = homePage.Descendants("EventDetailsPage").FirstOrDefault();
            if (eventDetailsPage != null && eventDetailsPage.Id > 0)
                {
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt40column">
                    <div class="mt20 mb20">
                        <h2 class="heading1 doubleBorderBottom">
                            Teams Calendar
                        </h2>
                        <div class="mb20">
                            @Html.AntiForgeryToken()
                            <div id="teamCalendar"></div>
                        </div>
                    </div>
                </div>
                }
            }
        }


            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt40column">
                @Html.Partial("Master/PageGallaries")
            </div>
        </div>

    </div>
}

@section footerScripts{
    <script type="text/javascript" src="/Scripts/EventCalendar/moment.min.js"></script>
    <script type="text/javascript" src="/Scripts/EventCalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/Scripts/EventCalendar/gcal.js"></script>
    <script type="text/javascript" src="/Scripts/EventCalendar/lang-all.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.qtip.min.js"></script>

    @Html.Partial("Team/PageCalendar")

}
